@page "/authors/authordetail/{authorId:int}"
@page "/author"
<h3 >Author Detail</h3>
<hr />

<div class="col-12 row">
    <h5 class="col-12 row" style="font-:bold">@AuthorDetail.FirstName @AuthorDetail.LastName</h5>
    <h6 class="col-12 row">Ph: @AuthorDetail.PhoneNumber</h6>
    <h6 class="col-12 row">City @AuthorDetail.City</h6>
</div>

<hr />
<div class="col-12 row">@AuthorizationServiceCollectionExtensions.GetCreateDate()</div>
<div class="col-12 row">version : @authorService.GetVersion()</div>
<p>@AuthorId/Z.Z.Tun/ Superman</p>
@code {
    [Parameter]
    public int AuthorId { get; set; }

    public Author AuthorDetail { get; set; }
    public AuthorService authorService { get; set;}
    protected over void OnInitialized()
    {
        authorService = new AuthorService();
        AuthorDetail = authorService.GetAuthorById(AuthorId);
    }
}
